{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<ul>
    {% for item in object_list %}
    <p><h3><strong><u>{{item.titulo}}</strong></p></h3></u>
    <a href="{% url 'DetailBlog' item.id%}" class="btn btn-info">Ver detalles</a>
    <a href="{% url 'EditBlog' item.id%}" class="btn btn-secondary">Editar</a>
    <a href="{% url 'DeleteBlog' item.id%}" class="btn btn-danger">Borrar</a>
    <br>
    --------------------------------------------------------------
    <br>
</p>
    {% endfor %}

</ul>
{% endblock %}