{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<ul>
    {% for item in object_list %}
    <p><strong><u>{{item.nombre}}</strong></p></u>
    <a href="{% url 'DetailCate' item.id%}" class="btn btn-info">Ver detalles</a>
    <a href="{% url 'EditCate' item.id%}" class="btn btn-secondary">Editar</a>
    <a href="{% url 'DeleteCate' item.id%}" class="btn btn-danger">Borrar</a>
    <br>
    --------------------------------------------------------------
    <br>
</p>
    {% endfor %}

</ul>
{% endblock %}